* {
    box-sizing: border-box;
    /* border: 5px solid red; */
}

body {
    background-color: whitesmoke;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.title {
    background-color: black;
    color: white;
    text-align: center;
    margin: 20px 50px;
}


img {
    display: block;
    margin: 10px auto;
}


h3{
    background-color: black;
    color: white;
    text-align: center;
    margin: 20px 50px;
}

h4 {
    margin: 20px 50px;
}

.pages {
    margin: 0px 50px 20px;
    padding: 0 20px;
}

.desc {
    margin: 0 50px;
}

.ingredients {
    margin: 0 50px;
    padding: 0 20px;
}

.steps {
    margin: 0 50px;
    padding: 0 20px;
}

.menu {
    color: black;
    display: inline-block;
    margin: 0 50px;
}